.cleared {
	float: none !important;
	clear: both !important;
}

.category-row.money {
	background-color: #FFFDF5;
}

.category-row.commerce {
	background-color: #FDFFDB;
}

.category-row.science {
	background-color: #DBFFDB;
}

.category-row.victory-points {
	background-color: #DDDBFF;
}

.category-row.military {
	background-color: #FFDBDB;
}

.category-row.guilds {
	background-color: #FCDBFF;
}

.category-row.wonders {
	background-color: #E8E8E8;
}

.score-table {
	table-layout: fixed;
}

.score-table input {
	background: none;
	outline: none;
	border: none;
	height: 20px;
}